* {
    padding: 0%;
    margin: 0%;
}


.btn-top {
    padding: 2px 20px 2px 20px;
    border-radius: 10px 10px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 10px;
    background-color: white;
}

.btn {
    padding: 7px 15px 7px 15px;
    border-radius: 5px 5px;
    border: 1px solid rgb(116, 115, 125);
    font-size: 14px;
    margin-left: 5px;
    background-color: white;
    color: rgb(116, 115, 125);
    font-weight: 700;
}

.btn:hover {
    color: rgb(68, 154, 255);
    border: 2px solid rgb(68, 154, 255);
}

p{
    margin-top: 0px;
    color: rgb(116, 115, 125);
    font-weight: 700;
    margin-bottom: 0px;
}

.form-input{
    border:1px solid black;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    height: 35px;
    margin-left: 10px;
}

.Continue-Button {
    float: right;
    border-radius: 5px 5px; 
    padding: 3px 40px;
    font-size: 12px;
    border-color: rgb(116, 115, 125);
    color: white;
    background-color: teal;"
}

.Back-Button {
    padding: 3px 40px;
    border-radius: 5px 5px;
    font-size: 12px;
    border:1px solid rgb(116, 115, 125);
}